<ul>
  <li><a routerLink="/page1">Page 1</a></li>
  <li><a routerLink="/page2">Page 2</a></li>
  <li><a routerLink="/page2/1">Page 2 Detail with ID 1</a></li>
  <li><a routerLink="/page2/2">Page 2 Detail with ID 2</a></li>
  <li><a routerLink="/page2/3">Page 2 Detail with ID 3</a></li>
</ul>
<router-outlet></router-outlet>

<p>----------------------------------------------------------------------------------------------</p>

<label>請輸入要載入多少筆</label><input type="number" #num autofocus><button (click)="loadData()">Load</button>

<ul>
  <li *ngFor="let post of show(num.value)">{{ post | json }}</li>
</ul>

