<!DOCTYPE html>
<html lang="en">
<head>
  <title>index</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>歡迎來到餐廳總管</h1>
  <p>各種餐廳應有盡有，請大家慢慢選擇</p> 
</div>
  
<div class="container">
  <center><h1>現有餐廳列表</h1></center>
	{% if restaurant_list %}
    	<center><ul class="list-group">
    	{% for restaurant in restaurant_list %}
        <li class="list-group-item list-group-item-success" style = "font-size:28px"><a href="{% url 'polls:detail' restaurant.id %}">{{ restaurant.restaurant_name }}</a></li> 
    	{% endfor %}
    	</ul></center>
	{% else %}
    	<p>No polls are available.</p>
	{% endif %}
</div>

<br>
<hr>

<!--新增資料的表單-->
<center><form action="{% url 'polls:add_restaurant' %}" method="post">
  {% csrf_token %}  <!--要post一定要有此行-->
  請輸入餐廳名稱：<input type = 'text' id = 'restaurant_name' name = 'restaurant_name'> <br>
  請輸入餐廳地址：<input type = 'text' id = 'address' name = 'address'> <br>
  <input type="submit" value="add" style = "font-size:28px"/>
</form></center>

<br>
<hr>
<center><form action="{% url 'polls:delete_restaurant' %}" method="post">
  {% csrf_token %}
  請要刪的輸入餐廳名稱：<input type = 'text' id = 'restaurant_name' name = 'restaurant_name'> <br>
  <input type="submit" value="delete" style = "font-size:28px"/>
</form></center>

</body>
</html>

