<!--

  /*

component.ts就是Controller
component.html就是View
data.service.ts就是Service
之概念

*/

-->

<section class="todoapp">
  <header class="header">
    <!--看app.component.ts裡的AppComponent類型裡的參數-->
    <h1>{{ AppTitle }}</h1>

    <!--class是預設的，還未知是如何設定。-->
    <!--#todo是設定這個input的id是todo，所以下一行傳入變數就寫todo即可-->
    <!--設定相關屬性，例如placeholder就用[]包起來即可-->
    <!--onkeyup onclick onchange就不用加on，且用()包起來，至後面的函式就看app.component.ts裡的-->
    <!--(keyup.enter)是指按下Enter後執行動作-->
    <!--autofocus是個屬性，為自動focus-->
    <input 
      class="new-todo" 
      [placeholder]="placeholderText" 
      #todo
      (keyup.enter)="NewToDo(todo)"
      autofocus 
    />
  </header>

  <section class="main">
    <input class="toggle-all" type="checkbox" (change)="completeAll()" />
    <label for="toggle-all">Mark all as complete</label>
    <ul class="todo-list">

      <!--用他的for迴要用*ngFor，而裡面要設定的屬性也要加上ng（例如：[ngClass]）-->
      <!--宣告變數idx = index-->
      <!--如同下方[ngClass]是設定class-->
      <!--是用for迴圈跑出來結果的，這裡是這樣的for todo in dataService.todos.where(x => x.state == 狀態);這種的感覺-->
      <!--上一句說到的其實是呼叫state-filter裡的transform（而dataService.todos 和 後面的）就是傳入的參數值-->
      <!--上一句說的即是用Pipe的概念（Value值 | 使用的Pipe的name : 參數值)-->
      <!--並且會得到todo和idx=index就是只for迴圈中的i-->
      <li
        *ngFor="
          let todo of (dataService.todos | stateFilter: dataService.state);
          let idx = index
        "
        [ngClass]="{ completed: todo.isCompleted }"
      >
        <div class="view">
          <input
            class="toggle"
            type="checkbox"
            [checked]="false"
            (change)="toggleComplete(todo)"
          />
          <label>{{ todo.label }}</label>
          <label>{{ todo.isCompleted }}</label>

          <!--刪除的話，就是要把id和值傳回去-->
          <button class="destroy" (click)="removeAll(idx, todo)"></button>
        </div>
        <input class="edit" value="Create a TodoMVC template" />
      </li>

      <!--上面出來的樣子就等於下面的樣子（這裡只有一個，但上面會一直新增列出來）
      <li>
        <div class="view">
          <input class="toggle" type="checkbox" /> <label>Buy a unicorn</label>
          <button class="destroy"></button>
        </div>
        <input class="edit" value="Rule the web" />
      </li>
    -->

    </ul>
  </section>
  <!--引用section-footer裡的內容-->
  <app-section-footer></app-section-footer>
</section>

<!--引用footer裡的內容-->
<app-footer></app-footer>


