<!DOCTYPE html>
<html lang="en">
<head>
  <title>index</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  {% load static %}  
  <link rel = "stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>

<div class="jumbotron text-center">
  
<div class="container">
  <h1 style = "color:green">hello see my photo</h1>
  <div class = "container">
    	{% for photo in photos %}
      {% if photo.image %}
        <h1>title:{{photo.title}}</h1>
        <center><img src = '{{photo.image.url}}' class = "img-responsive" /></center>
        {% endif %}
    	{% endfor %}
      </div>
</div>

</body>
</html>

